In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/shahe/Desktop/Train_Data.csv")

data.head()

C:\Users\shahe\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_21,0.624000,Male,No relevent experience,Full time course,Graduate,STEM,3,missing,Pvt Ltd,never,31.372145,1
1,city_21,0.616795,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,1,63.988905,1
2,city_73,0.754000,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,never,19.000000,1
3,city_57,0.866000,Male,No relevent experience,no_enrollment,Phd,STEM,9,100-500,Pvt Ltd,>4,53.000000,0
4,city_21,0.624000,Male,Has relevent experience,no_enrollment,Masters,STEM,5,50-99,Pvt Ltd,>4,108.000000,1

In [2]:
from sklearn import preprocessing
le =preprocessing.LabelEncoder()

data['city'] = le.fit_transform(data['city'])
data['gender'] = le.fit_transform(data['gender'])
data['relevent_experience'] = le.fit_transform(data['relevent_experience'])
data['enrolled_university'] = le.fit_transform(data['enrolled_university'])
data['education_level'] = le.fit_transform(data['education_level'])
data['major_discipline'] = le.fit_transform(data['major_discipline'])
data['company_size'] = le.fit_transform(data['company_size'])
data['company_type'] = le.fit_transform(data['company_type'])
data['last_new_job'] = le.fit_transform(data['last_new_job'])
data['experience'] = le.fit_transform(data['experience'])

data.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,62,0.624000,1,1,0,0,5,13,8,5,6,31.372145,1
1,62,0.616795,1,1,0,0,5,20,8,6,0,63.988905,1
2,99,0.754000,1,1,0,0,5,20,8,6,6,19.000000,1
3,87,0.866000,1,1,3,3,5,19,0,5,4,53.000000,0
4,62,0.624000,1,0,3,2,5,15,3,5,4,108.000000,1

In [9]:
data = data.astype('float32')

In [10]:
X = data.drop(['target'], axis=1)
Y = data.target

print(X.shape)
print(Y.shape)

xData = X.values
yData = Y.values

(17257, 12)
(17257,)

In [33]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.1, random_state = 101)

In [34]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

86.32676709154113

In [38]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=25, random_state=101)
clf.fit(xTrain, yTrain)
y_pred=clf.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

84.53070683661646

In [39]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
Clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
Clf.fit(xTrain, yTrain)

y_pred=Clf.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

79.95365005793744

In [41]:
test = pd.read_csv("C:/Users/shahe/Desktop/Test_Data.csv")
test.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_101,0.558000,missing,No relevent experience,no_enrollment,High School,missing,6,missing,missing,never,31.000000
1,city_114,0.767004,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,missing,missing,2,53.427648
2,city_21,0.624000,Male,No relevent experience,Full time course,Graduate,STEM,2,missing,missing,never,12.000000
3,city_21,0.596055,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,Oct-49,missing,1,55.457061
4,city_160,0.920000,Male,No relevent experience,no_enrollment,Graduate,STEM,8,missing,Public Sector,1,56.000000

In [42]:
test['city'] = le.fit_transform(test['city'])
test['gender'] = le.fit_transform(test['gender'])
test['relevent_experience'] = le.fit_transform(test['relevent_experience'])
test['enrolled_university'] = le.fit_transform(test['enrolled_university'])
test['education_level'] = le.fit_transform(test['education_level'])
test['major_discipline'] = le.fit_transform(test['major_discipline'])
test['company_size'] = le.fit_transform(test['company_size'])
test['company_type'] = le.fit_transform(test['company_type'])
test['last_new_job'] = le.fit_transform(test['last_new_job'])
test['experience'] = le.fit_transform(test['experience'])

test.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,3,0.558000,3,1,3,1,6,16,8,6,6,31.000000
1,13,0.767004,1,0,3,0,5,18,8,6,1,53.427648
2,62,0.624000,1,1,0,0,5,11,8,6,6,12.000000
3,62,0.596055,1,0,3,0,5,18,7,6,0,55.457061
4,48,0.920000,1,1,3,0,5,18,8,4,0,56.000000

In [45]:
vals = model.predict(test.values)

array([0., 1., 1., ..., 1., 1., 1.], dtype=float32)

In [46]:
res = pd.DataFrame(vals)
res = res.astype('int64')
res.columns = ["prediction"]
res.to_csv("HR_Analytics.csv", index = False)